<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>HamSafar</title>

    {% load static %}
    <link rel="shortcut icon" type="image/jpg" href="../static/img/fav_icon1.jpg"> <!--Here how to put icon near title-->
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>


    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style= "opacity: 0.95; height: 9vh;">
      <a class="navbar-brand" href="{% url 'home' %}">HamSafar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'account_login' %}">Вход <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Меню
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'trip_add' %}">Предложить поездку</a>
          <a class="dropdown-item" href="{% url 'list_of_trips' %}">Найти поездку</a>
        </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="поиск" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
      </form>
      </div>
    </nav>  


    <section id ="showcase">

      <div class = "bond">
        
        {%block content%}

        {%endblock%}

      </div>

    </section>



    <footer class="sticky-footer page-footer font-small text-white-50 bg-dark">

      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href=""> HamSafar.tj</a>
      </div>
      <a class="yt-ic mr-3" role="button"><i class="fab fa-lg fa-youtube"></i></a>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!--     <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script> -->


  </body>

</html>
