{% extends 'base.html' %}

{% block content %}

<div class="container-fluid  box1">
    <div class="container text-center">
      <button type="button" class="btn btn-outline-primary btn-lg">
        <a class = "text-decoration-none text-white"  href="{% url 'list_of_trips' %}">
          <strong>Найи Поездку</strong>
        </a>
      </button>
    </div>
  </div>

  <div class="container col-12"  style ="height: 90vh;">
    <div class="row">

      <div class="col-6 mt-5 ml-1" style ="height: 100%;">
        <img src="../../static/img/driver.jpg" class="img-fluid" alt="Responsive image">
      </div>

      <div class="col-4 mt-5" style ="height: 100%;">
        <div class="container text-center_1">
          <h3>Найди себе поптучиков предложи выгодную поездку</h3>
          <button type="button" class="btn btn-info btn-lg">
            <a class = 'text-decoration-none text-white' href="{% url 'trip-create' %}">
              <strong>Предложить</strong>
            </a>
          </button>
        </div>
      </div>
    </div>    
  </div>

{%endblock%}