{% extends 'base.html' %}
{% load crispy_forms_tags %} 


{% block content %}

  <div class = 'd-flex flex-column w-75 container'>
    <div class="container p-2 profile_box">
        <div class="row mt-4">
          <div class="col-sm-8">
              <p class = "px-5"><strong>имя:</strong> {{owner.user}}</p>
              <p class = "px-5"><strong>почта:</strong> {{owner.email}}</p>
              <p class = "px-5"><strong>кличество поездок:</strong> 8</p>
              <p class = "px-5"><strong>отзывы:</strong> 6</p>
          </div>

          <div class="col-sm-4 position-static">
            <div class="d-flex justify-content-center">
                  <img src="{{owner.user_img.url}}" class="rounded mx-auto d-block w-50" >
            </div>
          </div>
       </div>
    </div>

    <!--Comment Form-->
    <div class="container w-100 profile_box mt-3">
      <div class="row">
        <div class="col-2 profile_box">
          <img src="{{user_in.profile.user_img.url}}" class="img-responsive rounded-circle" width="80%">
        </div>
        <div class="col-10 profile_box">
          <p>Пользователь: <strong>{{user_in}}</strong></p>
          <form method="post" style="margin-top: 1em;">
            {{ form | crispy }}
            {% csrf_token %}
          <button type="submit" class="btn btn-info mb-2 offset-md-5">Коментировать</button>
         </form>
        </div>        
      </div>
    </div>
    <!-- All of the commets -->
      {% for comment in comments %}
      <div class='container profile_box w-100 mt-2'> 
        <div class="row">
          <div class="col-2 profile_box">
            <img class="img-responsive rounded-circle" width="40%" src="{{comment.commentator.profile.user_img.url}}">
          </div>
          <div class="col-10 profile_box" >
                  {{comment.commentator.first_name}}, {{comment.date_posted}}
          </div>
        </div>
        <hr>
        <div class="col-md-12 profile_box" >
          <p>{{comment.comment_text}}</p>
        </div>
      </div>
    {% endfor %}
  </div>


{%endblock%}