{% extends 'base.html'%}


{% block content %}

{% for trip in trips %}

<div class="container w-75" style="background-color: white;"> 
  <div class="row">       
     <div class="col-2">
        <img src="{{ trip.owner.profile.user_img.url }}" class="img-responsive rounded-circle" width="70%">
    </div>

    <div class="container col-10">


        <div class="row">
            <div class="container">  
                <h4 class = "text-primary">
                    <a href= '{{ trip.get_absolute_url}}'>{{trip.from_city}} - {{trip.to_city}}</a>
                    <p class = "time_autoriz text-muted"> <strong>Опубликовано: {{trip.date_posted}}</strong></p>
                </h4> 
            </div>

            <div class="container">
               <p style="font-size: 1.1vw;">Пользователь: <strong>{{trip.owner}}</strong></p>
               <p style="font-size: 1.1vw;">{{trip.description}}</p>
           </div>
        </div>
    </div>
  </div>
  <hr>    
</div>
{% endfor %}

{% endblock %}
