{% extends 'base.html'%}


{% block content %}

{% for trip in trips %}

<div class="d-flex flex-row col-7 trips_list ">        
    <div class="col-2" style = height: 30vh;">
        <img src="{{ trip.owner.profile.user_img }}" class="img-responsive rounded-circle" width="100%" height="50%" >
    </div>

  <div class="d-flex flex-column col-10" style = position: relative;">
        <div style="border-bottom:1px solid black; width:100%; height:20%">
            <h4 class = "text-primary">
                <a href= '{{ trip.get_absolute_url }}'>{{trip.from_city}} - {{trip.to_city}}</a>
                <p class = "time_autoriz text-muted"> <strong>{{trip.date_posted}}</strong></p>
            </h4>
        </div>

        <div style="width:100%; height:80%">
            <div>
                <h5 >
                    
                    {{trip.owner.first_name}}
                </h5>
            </div>
            <div>
                <p style="font-size: 1.1vw;">{{trip.description}}</p>
                <p style="font-size: 1.1vw;">{{trip.owner}}</p>

            </div>
        </div>
  </div>
</div>
{% endfor %}

{% endblock %}
