{% extends 'base.html'%}


{% block content %}

{% for trip in trips %}

<div>
<div class="container w-75 mt-2" style="background-color: white;"> 
  <div class="row">       
     <div class="col-3">
        <img src="{{ trip.owner.profile.user_img.url }}" class="img-responsive rounded-circle" width="60%">
    </div>

    <div class="container col-9">


        <div class="row">
            <div class="container">  
                <h4 class = "text-primary">
                    <a href= '{{ trip.get_absolute_url}}'>{{trip.from_city}} - {{trip.to_city}}</a>
                    <p class = "time_autoriz text-muted"> <strong>Опубликовано: {{trip.date_posted}}</strong></p>
                </h4> 
            </div>

            <div class="container">
               <p style="font-size: 1.1vw;">Пользователь: <strong>{{trip.owner}}</strong></p>
               <p style="font-size: 1.1vw;">{{trip.description}}</p>
           </div>
        </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="container w-75 mr-5">
    <span class="step-links">
        {% if trips.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ trips.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ trips.number }} из {{ trips.paginator.num_pages }}.
        </span>

        {% if trips.has_next %}
            <a href="?page={{ trips.next_page_number }}">следующя</a>
            <a href="?page={{ trips.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>


</div>


{% endblock %}
