{% extends 'base.html' %}

{% block content %}

  <div class = 'd-flex flex-column w-75 container'>
    <div class="container p-2 profile_box">
        <div class="row mt-4">
          <div class="col-sm-8">
            <p class = "px-5"><strong>юсер:</strong> {{user.username}}</p>
              <p class = "px-5"><strong>имя:</strong> {{full_name}}</p>
              <p class = "px-5"><strong>почта:</strong> {{user.email}}</p>
              <p class = "px-4">
                <a class="nav-item nav-link active" href="#">Довабить/Отредактировать ваши данные</a>
              </p>
              <p class = "px-5"><strong>кличество поездок:</strong> 8</p>
              <p class = "px-5"><strong>отзывы:</strong> 6</p>
          </div>

          <div class="col-sm-4 position-static">
            <div class="d-flex justify-content-center">
                  <img class="rounded mx-auto d-block w-50" src="{{ user.profile.user_img.url }}">
            </div>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-secondary mt-2">Добавить Фото</button>
            </div>
          </div>
       </div>
    </div>

    <!--Comment Section-->
    <div class="container w-100" style ='border: 1px solid black; margin-top: 1vh;'>
      <div class="col-6" style = 'border: 1px black solid'>
        <h4 class = "text-muted">Оставить отзыв</h4>
      </div>
      <div class="row">
        <div class="col-3 " style = 'border: 1px black solid'>
          <img src="..." alt="..." class="rounded">
        </div>
        <div class="col-9" style = 'border: 1px black solid'>Commentator Name</div>
      </div>
      <div class="row">
        <div class="col-md-9 offset-md-3" style = 'border: 1px black solid'>
          <textarea name="" id="" cols="100" rows="3">Отличный Водитель</textarea>
        </div>
        <div class="col-md-3 offset-md-9" style = 'border: 1px black solid'>
          <button type="button" class="btn btn-info">Оставить</button>
        </div>
      </div>
      <div class='container w-100 mt-2' style = 'border: 1px black solid'> all of the comments</div>
    </div>
  </div>


{%endblock%}