.navbar{
  opacity: 0.9;
  height: 9vh;
  /* position: relative; */

}

/* The * that come after label in forms */
.asteriskField{
  display: none;
}


.bond{
  margin-top: 9vh;
  border: black 3px black;
  min-height: 100vh;
}

.box1{
  background-image: url(../img/pamir.jpg);
  background-position: center center;
  height: 95vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.box2{
  height: 90vh;
}

.box2_1{
  margin-top: 8%;
  height: 80%;
  background-image: url(../img/driver.jpg);
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-center{
  padding-top: 75vh;
  padding-right: 24vh;
}

.text-center_1{
  padding-top: 30vh;
  padding-right: 24vh;
}

                              /* Finding a Trip */
.time_autoriz{
  display: inline;
  font-size: 50%;
}

.trips_list{
  min-height: 30vh;
  left:20%;
  top: 1vh;
}

                          /* Upload trip */
.trip_detail{
  height: 100vh;
  background-color: rgb(176, 161, 210);
}

.detail_box{
  border: 1px solid black;
  width: 60%;
  height: 60vh;
  padding-top: 20%;
}

.col-5{
  margin: 3vh;  
}

.logo{
  width: 50vh;
  height: 75vh;
  background-image: url(../img/reg_logo.jpg);
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
}